# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logsgit 
*.log

# Environment Variables
.env

# Build Files
build/
dist/
*.egg-info/

# Cache
.cache/
.pytest_cache/

# Temporary Files
*.tmp

*.pk